* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    font-weight: 300;
    font-size: 20px;
}

/* 
- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

### Neutral

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(226, 43%, 10%);
    color: white;
    min-height: 100vh;
}

.container {
    width: 900px;
    display: flex;
}

.perfil-warap {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
}

.dados {
    background-color: hsl(246, 80%, 60%);
    width: 200px;
    height: 230px;
    border-radius: 10px;
    padding: 20px;
}

.dados img {
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

.dados p {
    font-size: .5rem;
    color: rgba(255, 255, 255, 0.418);
    margin-top: 20px;
}

.dados h1 {
    font-size: 1.5rem;
}

.manu-warap {
    padding: 20px;
}

.manu {
    line-height: 25px;
}

.item {
    font-size: .7rem;
    cursor: pointer;
}

.tarefas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-left: 5px;
}

.work {
    background-color: white;
    padding-top: 30px;
    border-radius: 10px;
}

.in-work {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    height: 130px;
    position: relative;
}

.laranja {
    background-color: hsl(15, 100%, 70%);
    background-image: url(images/icon-work.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40px;
}

.azul {
    background-color: hsl(195, 74%, 62%);
    background-image: url(images/icon-play.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40px;
}

.rosa {
    background-color: hsl(348, 100%, 68%);
    background-image: url(images/icon-study.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40px;
}

.verde {
    background-color: hsl(145, 58%, 55%);
    background-image: url(images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40px;
}

.roxo {
    background-color: hsl(264, 64%, 52%);
    background-image: url(images/icon-social.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40px;
}

.amarelo {
    background-color: hsl(43, 84%, 65%);
    background-image: url(images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40px;
}

.title {
    font-weight: 500;
    font-size: .6rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.edit {
    display: inline-block;
    width: 20px;
    height: 10px;
    background-image: url(images/icon-ellipsis.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.work h2 {
    font-size: 2rem;
}

.subtitle {
    font-size: .6rem;
    color: rgba(255, 255, 255, 0.555);
}

.inputEdit {
    background-color: hsl(235, 46%, 20%);
    width: 159px;
    height: 130px;
    position: absolute;
    top: 0;
    font-size: .9rem;
    font-weight: 300;
}

.input {
    background-color: transparent;
    color: white;
    border: none;
    display: inline-block;
    width: 80px;
    font-size: .9rem;
}